{% extends 'base.html' %}

{% load static %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}

        <div class="panel panel-primary">
            <div class="panel-heading">
                    <h2 class="panel-title">Top 5 Categories</h2>
            </div>
        </div>

        {% if categories %}
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/rango/category/{{ category.name }}">{{ category.name }}</a> 
                {% if category.views > 1 %}
                    ({{ category.views }} views)
                {% elif category.views == 1 %}
                    ({{ category.views }} view)
                {% endif %}    
                    
                {% endfor %}
        
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}   

        <div class="panel panel-primary">
            <div class="panel-heading">
                    <h2 class="panel-title">Top 5 Pages</h2>
            </div>
    </div>

            <ul>
            {% for page in page_list %}
                <li>
                <a href="{% url 'goto' %}?page_id={{page.id}}">{{ page.title }}</a>
                    {% if page.views > 1 %}
                            ({{ page.views }} views)
                    {% elif page.views == 1 %}
                            ({{ page.views }} view)
                    {% endif %}
                </li>
            {% endfor %}
        
        </ul>
{% endblock %}