<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>
    <body>
        <h1>Rango says.. Hello World!</h1>

        <a href="/rango/add_category/">Add a New Category</a><br />

        {% if categories %}
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
                {% endfor %}
        
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}    
        
            <ul>
        {% for page in page_list %}
        <!-- Following line changed to add an HTML hyperlink -->
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}


    </body>
</html>